* {
box-sizing: border-box;
margin: 0;
padding: 0;
font-family: "Roboto", sans-serif;
font-weight: 500;
color: #33475B;
}

.container-70 {
  width: 70%;
  margin: auto;
}

.container-70::after {
  content: "";
  display: table;
  clear: both;
}

.container-60 {
  width: 60%;
  margin: auto;
}

/* header */
/* barra di navigazione top */
.navbar-top, .navbar-bottom {
  font-size: 17px;
  line-height: 100px;
  height: 100px;
}

.navbar-top {
  border-bottom: 2px solid #33475B;
  background-color: #F4F9FD;
}

.left {
  float: left;
}

.navbar-top .language-select {
  padding-right: 10px;
  border-right: 1px solid #33475B;
}

.navbar-top i, .navbar-bottom i {
  padding: 4px;
}

.navbar-top .contact {
  padding-left: 10px;
}

.right {
  float: right;
}

.navbar-top .search {
  color: #00A4BD;
}

.btn {
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #FE775A;
  color: #fff;
  font-size: 15px;
  margin: 0 10px;
  cursor: pointer;
}

.btn-login {
  background-color: #fff;
  color: #FE775A;
  border: 2px solid #FE775A;
}

/* fine barra di navigazione top */

/* barra di navigazione bottom */
.navbar-bottom {
background-color: #fff;
border-bottom: 2px solid violet;
line-height: 100px;
}

.logo img {
  vertical-align: middle;
}

.navbar-bottom ul {
  list-style: none;
}
.navbar-bottom ul li {
  display: inline-block;
  padding: 0 10px;
}

.navbar-bottom a {
  text-decoration: none;
}

/* fine barra di navigazione bottom */
