* {
box-sizing: border-box;
margin: 0;
padding: 0;
font-family: "Roboto", sans-serif;
font-weight: 500;
color: #33475B;
}

.container-70 {
  width: 70%;
  margin: auto;
}

.clearfix {
  content: "";
  display: table;
  clear: both;
}

.container-50 {
  width: 50%;
  margin: auto;
}

/* header */
/* barra di navigazione top */
.navbar-top, .navbar-bottom {
  font-size: 13px;
  line-height: 70px;
  height: 70px;
}

.navbar-top {
  border-bottom: 1px solid #33475B;
  background-color: #F4F9FD;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
}

.left {
  float: left;
}

.navbar-top .language-select {
  padding-right: 10px;
  border-right: 1px solid #33475B;
}

.padded, .hubspot-crm-content i, .hubs-box i {
  padding: 4px;
}

.navbar-top .contact {
  padding-left: 10px;
}

.right {
  float: right;
}

.navbar-top .search i {
  color: #00A4BD;
}

nav a {
  text-decoration: none;
}

nav a:hover {
  color: #5c80a3;
}

.btn {
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #FE775A;
  color: #fff;
  font-size: 13px;
  margin: 0 10px;
  cursor: pointer;
}

.btn:hover {
  background-color: #feac9a;
}

.btn-login {
  background-color: #fff;
  color: #FE775A;
  border: 1px solid #FE775A;
}

.btn-login:hover {
  background-color: #fff2e6;
  border: 1px solid rgba(0,0,0,0);
}

/* fine barra di navigazione top */

/* barra di navigazione bottom */
.navbar-bottom {
background-color: #fff;
margin-top: 70px;
}

.logo img {
  vertical-align: middle;
}

.navbar-bottom ul {
  list-style: none;
}
.navbar-bottom ul li {
  display: inline-block;
  padding: 0 10px;
}
/* fine barra di navigazione bottom */

/* banner */
.banner {
  height: 600px;
  background-color: #FFF2EF;
  background-image: url(../img/jumbotron.png);
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 100%;
  position: relative;
}

.banner-text {
  position: absolute;
  top: 10%;
  width: 35%;
}

.banner-text h1 {
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  margin-bottom: 20px;
}

.small-text {
  font-size: 13px;
  line-height: 25px;
}

.banner-text button {
  margin: 25px 0;
  padding: 15px 30px;
}

.banner-text span {
  display: block;
  font-size: 11px;
}

.azure-line {
  height: 80px;
  width: 100%;
  background-color: #afebe4;
  border-top: 3px solid #33475b;
  border-bottom: 3px solid #33475b;
  position: absolute;
  bottom: 0;
}
/* fine banner */
/* fine header */

/* contenuto principale */
.lightblue-section {
  background-color: #F4F9FD;
  padding: 40px 0;
}

/* sezione rubik's cube */
.rubiks-cube {
  text-align: center;
}

.rubiks-cube img {
  width: 30%;
  margin-bottom: 10px
}

.sottotitolo {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 20px;
}

.rubiks-cube p {
  margin-bottom: 40px;
}
/* fine sezione rubik's cube */

/* sezione hubspot crm */
.white-box {
  background-color: #fff;
  box-shadow: 1px 1px 5px 1px #bedbf3;
  border-radius: 5px;
}

.hubspot-crm-container {
  padding: 50px 0;
  margin-bottom: 50px;
}

.hubspot-crm-content {
  width: 80%;
  margin: auto;
}

.hubspot-crm-content img {
  width: 130px;
}

.hubspot-crm-content > div:first-child {
  text-align: center;
  width: 20%;
}

.hubspot-crm-content > div:last-child {
  width: 70%;
  margin-left: 10%;
}

.hubspot-crm-content button,
.hubs-box button {
  margin-top: 20px;
  padding: 15px 25px;
  font-size: 13px;
}

.hubspot-crm-content h3, .hubs-box h3 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}

.hubspot-crm-content h4 {
  margin-top: 20px;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  display: inline-block;
  width: 30%;
}

.hubspot-crm-content hr {
  display: inline-block;
  width: 60%;
  height: 2.5px;
  background-color: #7c99b6;
  vertical-align: middle;
}

.hubspot-crm-content ul {
  list-style: none;
  margin-top: 20px;
}

.hubspot-crm-content ul li {
  display: inline-block;
}

.hubspot-crm-content ul li a {
  text-decoration: none;
  padding: 0 10px 0 5px;
}

.hubspot-crm-content ul li i,
.hubs-box ul li i {
  color: #fe775a;
}
/* fine sezione hubspot crm */
/* sezione hubs  */
.hubs-box {
  width: calc(90% / 3);
  float: left;
  text-align: center;
  padding: 20px 30px;
}

.hubs-box:nth-child(2) {
  margin: 0 5% 0 5%;
}

.hubs-box img {
  height: 80px;
  margin-bottom: 20px;
}

.hubs-box hr {
  margin-top: 40px;
  height: 3px;
  background-color: #7c99b6;
}

.hubs-box h4 {
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  margin: 30px 0 20px 0;
}

.hubs-box ul {
  list-style: none;
  text-align: left;
  margin-bottom: 20px;
}
/* fine sezione hubs  */

/* sezione blu */
.blue-section {
  background-image: linear-gradient(to right, #00AAB7, #00B8AB);
  padding: 40px 0 60px 0;
  text-align: center;
}

.blue-section h2 {
  font-size: 27px;
  font-weight: 600;
  color: #fff;
  padding: 0 20px;
}

.blue-section p {
  color: #fff;
  padding: 30px 0;
}

.eight-boxes {
  width: 100%;
  height: 300px;
}

.top-row, .bottom-row {
  width: 100%;
  height: 50%;
}

.bottom-row {
border-top: 2px solid #fff;
}

.table-box {
  float: left;
  width: calc(100% / 4);
  height: 100%;
  padding: 10px;
}

.table-box img {
  padding: 5px;
  height: 40px;
}

.table-box h1 {
  color: #fff;
  font-weight: 600;
  font-size: 30px;
  padding: 5px 0;
}

.table-box p {
  color: #fff;
  font-size: 11px;
  padding: 5px 0 0 0;
}

.table-box:nth-child(2) {
  border-left: 2px solid #fff;
  border-right: 2px solid #fff;
}

.table-box:last-child {
  border-left: 2px solid #fff;
}
/* fine sezione blu */

/* sezione sfondo bianco */
.white-section {
  padding: 50px 0;
}

.logos-section {
  position: relative;
}

.logos-section .text-countries {
  width: 25%;
}

.logos-section .text-countries h1 {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 20px;
}

.logos-section .businesses-logos {
  float: right;
  width: 65%;
  height: 80%;
  margin-left: 10%;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.logos-section .businesses-logos .logo-wrapper {
  float: left;
  width: calc(100% / 4);
  height: 50%;
  padding: 10px;
  position: relative;
}

.logos-section .businesses-logos .logo-wrapper img {
  width: 70%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.clearfix-right::after {
  content: "";
  display: table;
  clear: right;
}

.start-now {
  margin-top: 100px;
  height: 300px;
}

.start-now-text {
  float: left;
  width: 40%;
  height: 100%;
}

.start-now p {
  margin: 30px 0 40px 0;
}

.start-now button {
  margin: 0;
  padding: 20px 30px;
}

.start-now p:last-child {
  font-size: 11px;
}

.start-now img {
  float: right;
  width: 30%;
  height: 100%;
  position: relative;
  bottom: 30px;
}
/* fine sezione sfondo bianco */
/* fine contenuto principale */

/* footer */
footer {
  padding: 30px 0 40px 0;
  background-color: #32495B;
}

footer a, footer i {
  text-decoration: none;
  color: rgba(255,255,255,0.8);
  font-size: 13px;
}

footer a:hover, footer i:hover {
  color: rgba(255,255,255,0.6);
}

footer button:hover {
  background-color: rgba(255,255,255,0.6);
}

footer hr {
  border: 1px solid rgba(255,255,255,0.5);
}

.footer-lists {
  width: 100%;
}

.footer-list {
  float: left;
  width: 25%;
}

.footer-list h4 {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 20px;
}

.footer-list ul {
  list-style: none;
}

footer li {
  line-height: 30px;
  font-weight: 400;
}

.footer-list button {
  padding: 10px;
  border-radius: 5px;
  border: none;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  margin: 15px 0;
  cursor: pointer;
  background-color: rgba(255,255,255,0.8);
}

.footer-list .footer-icons {
  max-width: 100%;
  letter-spacing: 10px;
  font-size: 12px;
}

footer .languages {
  text-align: center;
  margin: 60px 0 30px 0;
}

footer .languages ul {
  list-style: none;
  margin-bottom: 5px;
}

footer .languages ul li {
  display: inline-block;
}

footer .languages ul li {
  padding: 0 10px;
}

footer .ending {
  width: 100%;
  font-size: 14px;
}

footer .ending img {
  width: 100px;
  margin-bottom: 5px;
}

footer .ending span {
  color: rgba(255,255,255,0.8);
  font-size: 13px;
}

footer .ending .right span:first-child {
  padding: 15px;
}
/* fine footer */

/* bonus */
.bonus {
  position: fixed;
  bottom: 90px;
  right: 10px;
  background-color: #fff;
  box-shadow: -5px 5px 10px 10px rgba(0,0,0,0.2);
  border-radius: 5px;
  padding: 30px 15px;
  color: black;
  transition: 0.4s;
}

.bonus:hover {
  opacity: 0.7;
}

.exit-symbol {
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 20px;
  color: grey;
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
}

#bonus-logo {
  width: 20%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bonus-text {
  width: 225px;
}

#bonus-handwave {
  width: 15px;
}

.bonus-text span {
  font-weight: 300;
  font-size: 15px;
  word-spacing: 2px;
}

.bonus .chat-icon {
  position: absolute;
  bottom: -75px;
  right: 0;
}

.bonus .chat-icon i {
  color: #fff;
  font-size: 35px;
  cursor: pointer;
  background-color: #33475B;
  padding: 15px;
  border-radius: 50%;
  box-shadow: -3px 3px 8px 8px rgba(0,0,0,0.2);
}
/* fine bonus */
