* {
box-sizing: border-box;
margin: 0;
padding: 0;
font-family: "Roboto", sans-serif;
font-weight: 500;
color: #33475B;
}

.container-80 {
  width: 80%;
  margin: auto;
}

.clearfix {
  content: "";
  display: table;
  clear: both;
}

.container-60 {
  width: 60%;
  margin: auto;
}

/* header */
/* barra di navigazione top */
.navbar-top, .navbar-bottom {
  font-size: 15px;
  line-height: 80px;
  height: 80px;
}

.navbar-top {
  border-bottom: 1px solid #33475B;
  background-color: #F4F9FD;
}

.left {
  float: left;
}

.navbar-top .language-select {
  padding-right: 10px;
  border-right: 1px solid #33475B;
}

.navbar-top i, .navbar-bottom i, .hubspot-crm-content i, .hubs-box i {
  padding: 4px;
}

.navbar-top .contact {
  padding-left: 10px;
}

.right {
  float: right;
}

.navbar-top .search i {
  color: #00A4BD;
}

.btn {
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #FE775A;
  color: #fff;
  font-size: 15px;
  margin: 0 10px;
  cursor: pointer;
}

.btn-login {
  background-color: #fff;
  color: #FE775A;
  border: 1px solid #FE775A;
}

/* fine barra di navigazione top */

/* barra di navigazione bottom */
.navbar-bottom {
background-color: #fff;
}

.logo img {
  vertical-align: middle;
}

.navbar-bottom ul {
  list-style: none;
}
.navbar-bottom ul li {
  display: inline-block;
  padding: 0 10px;
}

.navbar-bottom a {
  text-decoration: none;
}
/* fine barra di navigazione bottom */

/* banner */
.banner {
  height: 600px;
  background-color: #FFF2EF;
  background-image: url(../img/jumbotron.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom right;
  position: relative;
}

.banner .container-80 {
  position: relative;
  height: 100%;
}

.banner-text {
  position: absolute;
  top: 10%;
  width: 50%;
}

.banner-text h1 {
  font-size: 50px;
  font-weight: 700;
  line-height: 50px;
  margin-bottom: 20px;
}

.banner-text p,
.rubiks-cube p,
.hubspot-crm-content p,
.hubspot-crm-content a,
.hubs-box {
  font-size: 15px;
  line-height: 25px;
}

.banner-text button {
  margin: 25px 0;
  padding: 20px;
}

.banner-text span {
  display: block;
  font-size: 12px;
}

.azure-line {
  height: 90px;
  width: 100%;
  background-color: #afebe4;
  border-top: 3px solid #33475b;
  border-bottom: 3px solid #33475b;
  position: absolute;
  bottom: 0;
}
/* fine banner */
/* fine header */

/* contenuto principale */
.lightblue-section {
  background-color: #F4F9FD;
  padding: 40px 0;
}

/* sezione rubik's cube */
.rubiks-cube {
  text-align: center;
}

.rubiks-cube img {
  width: 30%;
  margin-bottom: 10px
}

.rubiks-cube h2 {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 20px;
}

.rubiks-cube p {
  margin-bottom: 40px;
}
/* fine sezione rubik's cube */

/* sezione hubspot crm */
.white-box {
  background-color: #fff;
  box-shadow: 1px 1px 5px 1px #bedbf3;
  border-radius: 5px;
}

.hubspot-crm-container {
  padding: 50px 0;
  margin-bottom: 50px;
}

.hubspot-crm-content {
  width: 80%;
  margin: auto;
}

.hubspot-crm-content img {
  width: 130px;
}

.hubspot-crm-content > div:first-child {
  text-align: center;
  width: 20%;
}

.hubspot-crm-content > div:last-child {
  width: 70%;
  margin-left: 10%;
}

.hubspot-crm-content button,
.hubs-box button {
  margin-top: 20px;
  padding: 15px 25px;
  font-size: 13px;
}

.hubspot-crm-content h3, .hubs-box h3 {
  font-size: 23px;
  font-weight: 600;
  margin-bottom: 20px;
}

.hubspot-crm-content p {
  margin-bottom: 20px;
}

.hubspot-crm-content h4 {
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  display: inline-block;
  width: 30%;
}

.hubspot-crm-content hr {
  display: inline-block;
  width: 400px;
  height: 3px;
  background-color: #7c99b6;
  text-align: right;
  vertical-align: middle;
  overflow: visible;
}

.hubspot-crm-content ul {
  list-style: none;
  margin-top: 20px;
}

.hubspot-crm-content ul li {
  display: inline-block;
}

.hubspot-crm-content ul li a {
  text-decoration: none;
  padding: 0 10px 0 5px;
}

.hubspot-crm-content ul li i,
.hubs-box ul li i {
  color: #fe775a;
}
/* fine sezione hubspot crm */
/* sezione hubs  */
.hubs-box {
  width: calc(90% / 3);
  float: left;
  text-align: center;
  padding: 20px 30px;
}

.hubs-box:nth-child(2) {
  margin: 0 5% 0 5%;
}

.hubs-box img {
  height: 80px;
  margin-bottom: 20px;
}

.hubs-box hr {
  margin-top: 40px;
  height: 3px;
  background-color: #7c99b6;
}

.hubs-box h4 {
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  margin: 30px 0 20px 0;
}

.hubs-box ul {
  list-style: none;
  text-align: left;
  line-height: 5px;
  margin-bottom: 20px;
}

/* fine sezione hubs  */

/* fine contenuto principale */
